wsdl/wsdl_xtkbuilder.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="urn:xtk:builder" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:xtk:builder" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"><types><s:schema elementFormDefault="qualified" targetNamespace="urn:xtk:builder"><s:complexType name="Element"><s:sequence><s:any processContents="lax"/></s:sequence></s:complexType><s:element name="GetDbParams"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="GetDbParamsResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pelemDbcnx" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="pelemDbParameters" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="GenCreateDbDDL"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken"
              type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="entity" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="GenCreateDbDDLResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pstrSqlDDL" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="CreateDb"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemParameters" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="CreateDbResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="UpdateDb"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemParameters" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element
        name="UpdateDbResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="InstallVendorPackages"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemParameters" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="InstallVendorPackagesResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="InstallPackageImpl"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemParameters" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="InstallPackageImplResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="InstallPackage"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1"
              name="parameters" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="InstallPackageResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="ResolvePackageReferences"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemParameters" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="ResolvePackageReferencesResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pelemPatchedPackage" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="plWarningNb" type="s:int"/></s:sequence></s:complexType></s:element><s:element name="BuildSchema"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemSource" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element
        name="BuildSchemaResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="BuildSchemaFromId"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strSchemaId" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="BuildSchemaFromIdResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="BuildOutputSchema"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemSource" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="bSaveEntity" type="s:boolean"/></s:sequence></s:complexType></s:element><s:element name="BuildOutputSchemaResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pdomSchema" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element
              name="BuildSqlSchemaDiff"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemSqlDiffParam" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="elemPackage" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="BuildSqlSchemaDiffResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pdomSqlSchemaDiff" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="BuildUpdateSchemaDiff"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemParameters" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="bUseNamingConventions" type="s:boolean"/></s:sequence></s:complexType></s:element><s:element name="BuildUpdateSchemaDiffResponse"><s:complexType><s:sequence><s:element maxOccurs="1"
              minOccurs="1" name="pdomSqlSchemaDiff" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="BuildUpdateOneSchemaDiff"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strSchemaId" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="bUseNamingConventions" type="s:boolean"/></s:sequence></s:complexType></s:element><s:element name="BuildUpdateOneSchemaDiffResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pdomSqlSchemaDiff" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="GenerateNavTree"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="GenerateNavTreeResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element
              name="BuildOutputNavTree"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemNavtreeSource" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="bSave" type="s:boolean"/></s:sequence></s:complexType></s:element><s:element name="BuildOutputNavTreeResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pdomNavtree" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="GetDefaultNamespace"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="GetDefaultNamespaceResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pstrNamspace" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="RemoveSchemaLinkRef"><s:complexType><s:sequence><s:element maxOccurs="1"
              minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strId" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strExtendedSchema" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="RemoveSchemaLinkRefResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="GenerateSchema"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemParameters" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="elemSource" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="GenerateSchemaResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pdomSchema" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="UpdateSchemaFromDatabase"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1"
              name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strId" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="UpdateSchemaFromDatabaseResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="UpdateTempSchemasFromDatabase"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="elemSchema" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="UpdateTempSchemasFromDatabaseResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pelemResult" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="pstrWarning" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="ExecSql"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1"
              name="strDataSource" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strSql" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="ExecSqlResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="ExecSqlScript"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strDataSource" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strSql" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="ExecSqlScriptResponse"><s:complexType><s:sequence/></s:complexType></s:element><s:element name="CheckTableExists"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strDataSource" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strTableName"
        type="s:string"/></s:sequence></s:complexType></s:element><s:element name="CheckTableExistsResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pbExists" type="s:boolean"/></s:sequence></s:complexType></s:element><s:element name="EvaluateJavaScript"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strName" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strScript" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="pdomContext" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="EvaluateJavaScriptResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pdomContext" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="EvaluateJavaScriptTemplate"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken"
              type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strName" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strTemplate" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="pdomContext" type="tns:Element"/></s:sequence></s:complexType></s:element><s:element name="EvaluateJavaScriptTemplateResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pdomContext" type="tns:Element"/><s:element maxOccurs="1" minOccurs="1" name="pstrResult" type="s:string"/></s:sequence></s:complexType></s:element><s:element name="GenCreateOrUpdateSchemaSequenceDDL"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="sessiontoken" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strSchemaId" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strNewSequence" type="s:string"/><s:element maxOccurs="1" minOccurs="1" name="strOldSequence"
        type="s:string"/></s:sequence></s:complexType></s:element><s:element name="GenCreateOrUpdateSchemaSequenceDDLResponse"><s:complexType><s:sequence><s:element maxOccurs="1" minOccurs="1" name="pstrSqlDDL" type="s:string"/></s:sequence></s:complexType></s:element></s:schema></types><message name="GetDbParamsIn"><part element="tns:GetDbParams" name="parameters"/></message><message name="GetDbParamsOut"><part element="tns:GetDbParamsResponse" name="parameters"/></message><message name="GenCreateDbDDLIn"><part element="tns:GenCreateDbDDL" name="parameters"/></message><message name="GenCreateDbDDLOut"><part element="tns:GenCreateDbDDLResponse" name="parameters"/></message><message name="CreateDbIn"><part element="tns:CreateDb" name="parameters"/></message><message name="CreateDbOut"><part element="tns:CreateDbResponse" name="parameters"/></message><message name="UpdateDbIn"><part element="tns:UpdateDb" name="parameters"/></message><message name="UpdateDbOut"><part
      element="tns:UpdateDbResponse" name="parameters"/></message><message name="InstallVendorPackagesIn"><part element="tns:InstallVendorPackages" name="parameters"/></message><message name="InstallVendorPackagesOut"><part element="tns:InstallVendorPackagesResponse" name="parameters"/></message><message name="InstallPackageImplIn"><part element="tns:InstallPackageImpl" name="parameters"/></message><message name="InstallPackageImplOut"><part element="tns:InstallPackageImplResponse" name="parameters"/></message><message name="InstallPackageIn"><part element="tns:InstallPackage" name="parameters"/></message><message name="InstallPackageOut"><part element="tns:InstallPackageResponse" name="parameters"/></message><message name="ResolvePackageReferencesIn"><part element="tns:ResolvePackageReferences" name="parameters"/></message><message name="ResolvePackageReferencesOut"><part element="tns:ResolvePackageReferencesResponse" name="parameters"/></message><message name="BuildSchemaIn"><part
      element="tns:BuildSchema" name="parameters"/></message><message name="BuildSchemaOut"><part element="tns:BuildSchemaResponse" name="parameters"/></message><message name="BuildSchemaFromIdIn"><part element="tns:BuildSchemaFromId" name="parameters"/></message><message name="BuildSchemaFromIdOut"><part element="tns:BuildSchemaFromIdResponse" name="parameters"/></message><message name="BuildOutputSchemaIn"><part element="tns:BuildOutputSchema" name="parameters"/></message><message name="BuildOutputSchemaOut"><part element="tns:BuildOutputSchemaResponse" name="parameters"/></message><message name="BuildSqlSchemaDiffIn"><part element="tns:BuildSqlSchemaDiff" name="parameters"/></message><message name="BuildSqlSchemaDiffOut"><part element="tns:BuildSqlSchemaDiffResponse" name="parameters"/></message><message name="BuildUpdateSchemaDiffIn"><part element="tns:BuildUpdateSchemaDiff" name="parameters"/></message><message name="BuildUpdateSchemaDiffOut"><part
      element="tns:BuildUpdateSchemaDiffResponse" name="parameters"/></message><message name="BuildUpdateOneSchemaDiffIn"><part element="tns:BuildUpdateOneSchemaDiff" name="parameters"/></message><message name="BuildUpdateOneSchemaDiffOut"><part element="tns:BuildUpdateOneSchemaDiffResponse" name="parameters"/></message><message name="GenerateNavTreeIn"><part element="tns:GenerateNavTree" name="parameters"/></message><message name="GenerateNavTreeOut"><part element="tns:GenerateNavTreeResponse" name="parameters"/></message><message name="BuildOutputNavTreeIn"><part element="tns:BuildOutputNavTree" name="parameters"/></message><message name="BuildOutputNavTreeOut"><part element="tns:BuildOutputNavTreeResponse" name="parameters"/></message><message name="GetDefaultNamespaceIn"><part element="tns:GetDefaultNamespace" name="parameters"/></message><message name="GetDefaultNamespaceOut"><part element="tns:GetDefaultNamespaceResponse" name="parameters"/></message><message
      name="RemoveSchemaLinkRefIn"><part element="tns:RemoveSchemaLinkRef" name="parameters"/></message><message name="RemoveSchemaLinkRefOut"><part element="tns:RemoveSchemaLinkRefResponse" name="parameters"/></message><message name="GenerateSchemaIn"><part element="tns:GenerateSchema" name="parameters"/></message><message name="GenerateSchemaOut"><part element="tns:GenerateSchemaResponse" name="parameters"/></message><message name="UpdateSchemaFromDatabaseIn"><part element="tns:UpdateSchemaFromDatabase" name="parameters"/></message><message name="UpdateSchemaFromDatabaseOut"><part element="tns:UpdateSchemaFromDatabaseResponse" name="parameters"/></message><message name="UpdateTempSchemasFromDatabaseIn"><part element="tns:UpdateTempSchemasFromDatabase" name="parameters"/></message><message name="UpdateTempSchemasFromDatabaseOut"><part element="tns:UpdateTempSchemasFromDatabaseResponse" name="parameters"/></message><message name="ExecSqlIn"><part element="tns:ExecSql"
    name="parameters"/></message><message name="ExecSqlOut"><part element="tns:ExecSqlResponse" name="parameters"/></message><message name="ExecSqlScriptIn"><part element="tns:ExecSqlScript" name="parameters"/></message><message name="ExecSqlScriptOut"><part element="tns:ExecSqlScriptResponse" name="parameters"/></message><message name="CheckTableExistsIn"><part element="tns:CheckTableExists" name="parameters"/></message><message name="CheckTableExistsOut"><part element="tns:CheckTableExistsResponse" name="parameters"/></message><message name="EvaluateJavaScriptIn"><part element="tns:EvaluateJavaScript" name="parameters"/></message><message name="EvaluateJavaScriptOut"><part element="tns:EvaluateJavaScriptResponse" name="parameters"/></message><message name="EvaluateJavaScriptTemplateIn"><part element="tns:EvaluateJavaScriptTemplate" name="parameters"/></message><message name="EvaluateJavaScriptTemplateOut"><part element="tns:EvaluateJavaScriptTemplateResponse"
    name="parameters"/></message><message name="GenCreateOrUpdateSchemaSequenceDDLIn"><part element="tns:GenCreateOrUpdateSchemaSequenceDDL" name="parameters"/></message><message name="GenCreateOrUpdateSchemaSequenceDDLOut"><part element="tns:GenCreateOrUpdateSchemaSequenceDDLResponse" name="parameters"/></message><portType name="builderMethodsSoap"><operation name="GetDbParams"><input message="tns:GetDbParamsIn"/><output message="tns:GetDbParamsOut"/></operation><operation name="GenCreateDbDDL"><input message="tns:GenCreateDbDDLIn"/><output message="tns:GenCreateDbDDLOut"/></operation><operation name="CreateDb"><input message="tns:CreateDbIn"/><output message="tns:CreateDbOut"/></operation><operation name="UpdateDb"><input message="tns:UpdateDbIn"/><output message="tns:UpdateDbOut"/></operation><operation name="InstallVendorPackages"><input message="tns:InstallVendorPackagesIn"/><output message="tns:InstallVendorPackagesOut"/></operation><operation name="InstallPackageImpl"><input
        message="tns:InstallPackageImplIn"/><output message="tns:InstallPackageImplOut"/></operation><operation name="InstallPackage"><input message="tns:InstallPackageIn"/><output message="tns:InstallPackageOut"/></operation><operation name="ResolvePackageReferences"><input message="tns:ResolvePackageReferencesIn"/><output message="tns:ResolvePackageReferencesOut"/></operation><operation name="BuildSchema"><input message="tns:BuildSchemaIn"/><output message="tns:BuildSchemaOut"/></operation><operation name="BuildSchemaFromId"><input message="tns:BuildSchemaFromIdIn"/><output message="tns:BuildSchemaFromIdOut"/></operation><operation name="BuildOutputSchema"><input message="tns:BuildOutputSchemaIn"/><output message="tns:BuildOutputSchemaOut"/></operation><operation name="BuildSqlSchemaDiff"><input message="tns:BuildSqlSchemaDiffIn"/><output message="tns:BuildSqlSchemaDiffOut"/></operation><operation name="BuildUpdateSchemaDiff"><input message="tns:BuildUpdateSchemaDiffIn"/><output
      message="tns:BuildUpdateSchemaDiffOut"/></operation><operation name="BuildUpdateOneSchemaDiff"><input message="tns:BuildUpdateOneSchemaDiffIn"/><output message="tns:BuildUpdateOneSchemaDiffOut"/></operation><operation name="GenerateNavTree"><input message="tns:GenerateNavTreeIn"/><output message="tns:GenerateNavTreeOut"/></operation><operation name="BuildOutputNavTree"><input message="tns:BuildOutputNavTreeIn"/><output message="tns:BuildOutputNavTreeOut"/></operation><operation name="GetDefaultNamespace"><input message="tns:GetDefaultNamespaceIn"/><output message="tns:GetDefaultNamespaceOut"/></operation><operation name="RemoveSchemaLinkRef"><input message="tns:RemoveSchemaLinkRefIn"/><output message="tns:RemoveSchemaLinkRefOut"/></operation><operation name="GenerateSchema"><input message="tns:GenerateSchemaIn"/><output message="tns:GenerateSchemaOut"/></operation><operation name="UpdateSchemaFromDatabase"><input message="tns:UpdateSchemaFromDatabaseIn"/><output
      message="tns:UpdateSchemaFromDatabaseOut"/></operation><operation name="UpdateTempSchemasFromDatabase"><input message="tns:UpdateTempSchemasFromDatabaseIn"/><output message="tns:UpdateTempSchemasFromDatabaseOut"/></operation><operation name="ExecSql"><input message="tns:ExecSqlIn"/><output message="tns:ExecSqlOut"/></operation><operation name="ExecSqlScript"><input message="tns:ExecSqlScriptIn"/><output message="tns:ExecSqlScriptOut"/></operation><operation name="CheckTableExists"><input message="tns:CheckTableExistsIn"/><output message="tns:CheckTableExistsOut"/></operation><operation name="EvaluateJavaScript"><input message="tns:EvaluateJavaScriptIn"/><output message="tns:EvaluateJavaScriptOut"/></operation><operation name="EvaluateJavaScriptTemplate"><input message="tns:EvaluateJavaScriptTemplateIn"/><output message="tns:EvaluateJavaScriptTemplateOut"/></operation><operation name="GenCreateOrUpdateSchemaSequenceDDL"><input
        message="tns:GenCreateOrUpdateSchemaSequenceDDLIn"/><output message="tns:GenCreateOrUpdateSchemaSequenceDDLOut"/></operation></portType><binding name="builderMethodsSoap" type="tns:builderMethodsSoap"><soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/><operation name="GetDbParams"><soap:operation soapAction="xtk:builder#GetDbParams" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="GenCreateDbDDL"><soap:operation soapAction="xtk:builder#GenCreateDbDDL" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="CreateDb"><soap:operation soapAction="xtk:builder#CreateDb"
          style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="UpdateDb"><soap:operation soapAction="xtk:builder#UpdateDb" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="InstallVendorPackages"><soap:operation soapAction="xtk:builder#InstallVendorPackages" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="InstallPackageImpl"><soap:operation soapAction="xtk:builder#InstallPackageImpl"
          style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="InstallPackage"><soap:operation soapAction="xtk:builder#InstallPackage" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="ResolvePackageReferences"><soap:operation soapAction="xtk:builder#ResolvePackageReferences" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="BuildSchema"><soap:operation soapAction="xtk:builder#BuildSchema"
          style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="BuildSchemaFromId"><soap:operation soapAction="xtk:builder#BuildSchemaFromId" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="BuildOutputSchema"><soap:operation soapAction="xtk:builder#BuildOutputSchema" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="BuildSqlSchemaDiff"><soap:operation soapAction="xtk:builder#BuildSqlSchemaDiff"
          style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="BuildUpdateSchemaDiff"><soap:operation soapAction="xtk:builder#BuildUpdateSchemaDiff" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="BuildUpdateOneSchemaDiff"><soap:operation soapAction="xtk:builder#BuildUpdateOneSchemaDiff" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="GenerateNavTree"><soap:operation
        soapAction="xtk:builder#GenerateNavTree" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="BuildOutputNavTree"><soap:operation soapAction="xtk:builder#BuildOutputNavTree" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="GetDefaultNamespace"><soap:operation soapAction="xtk:builder#GetDefaultNamespace" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="RemoveSchemaLinkRef"><soap:operation
        soapAction="xtk:builder#RemoveSchemaLinkRef" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="GenerateSchema"><soap:operation soapAction="xtk:builder#GenerateSchema" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="UpdateSchemaFromDatabase"><soap:operation soapAction="xtk:builder#UpdateSchemaFromDatabase" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation
        name="UpdateTempSchemasFromDatabase"><soap:operation soapAction="xtk:builder#UpdateTempSchemasFromDatabase" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="ExecSql"><soap:operation soapAction="xtk:builder#ExecSql" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="ExecSqlScript"><soap:operation soapAction="xtk:builder#ExecSqlScript" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation
        name="CheckTableExists"><soap:operation soapAction="xtk:builder#CheckTableExists" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="EvaluateJavaScript"><soap:operation soapAction="xtk:builder#EvaluateJavaScript" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation name="EvaluateJavaScriptTemplate"><soap:operation soapAction="xtk:builder#EvaluateJavaScriptTemplate" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation><operation
        name="GenCreateOrUpdateSchemaSequenceDDL"><soap:operation soapAction="xtk:builder#GenCreateOrUpdateSchemaSequenceDDL" style="document"/><input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></input><output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" use="literal"/></output></operation></binding><service name="XtkBuilder"><port binding="tns:builderMethodsSoap" name="builderMethodsSoap"><soap:address location=""/></port></service></definitions>
